footer{
    height:3.5rem ;
    padding: 0 3.5rem;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span{
    color: rgb(219, 213, 213);
    font-size: smaller;
}